name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build-test:
    name: Build and test BNFC-meta
    strategy:
      fail-fast: false
      matrix:
        ghc: ["9.12.2", "9.10.2", "9.8.4", "9.6.6", "9.4.8", "9.2.8" ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: latest
      - uses: actions/checkout@v3
      - name: Build and test all
        run: |
          cabal update
          cabal configure --enable-tests
          cabal build all
          cabal test all

  # This allows us to have a branch protection rule for builds with a matrix
  # https://github.com/orgs/community/discussions/4324#discussioncomment-3367568
  post-build-test:
    runs-on: ubuntu-latest
    needs: [ build-test ]
    if: always()
    steps:
      - name: Successful build
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failing build
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
